<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>W.R.sdl {% block title %}{% endblock %}</title>
    <!--    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
    <link href="{{ url_for('static', path='/semantic/semantic.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/semantic/semantic.js') }}"></script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    {% block html_head %}{% endblock %}
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ url_for('index') }}" class="header item">
            <img class="logo" src="{{ url_for('static', path='/sample.png') }}">
            T.V.K.i.
        </a>
        <a href="{{ url_for('index') }}" class="item">Home</a>
        <a href="{{ url_for('pixi') }}" class="item">Pixi fun</a>
    </div>
</div>

<div class="ui main text container">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2024 by <a href="{{ url_for('read_item', item_id='tvki') }}">tvki</a>.
            {% endblock %}
        </div>
    </div>
</div>
</body>