{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}
<script src="https://pixijs.download/release/pixi.js"></script>
{% endblock %}

{% block content %}
<h1>Pixi</h1>
<script>
    let app = new PIXI.Application({width: 640, height: 360});
    globalThis.__PIXI_APP__ = app;
    document.body.appendChild(app.view);
    const SAMPLE_PNG = '/static/sample.png';

    // Label showing scene graph hierarchy
    const label = new PIXI.Text('Welcome to:', {fill: '#ffffff'});
    label.position = {x: 10, y: 10};
    app.stage.addChild(label);

    // Helper function to create a block of color with a letter
    const letters = [];

    function addLetter(letter, parent, color, pos) {
        const bg = new PIXI.Sprite(PIXI.Texture.WHITE);
        bg.width = 100;
        bg.height = 100;
        bg.tint = color;

        const text = new PIXI.Text(letter, {fill: "#ffffff"});
        text.anchor.set(0.5);
        text.position = {x: 50, y: 50};

        const container = new PIXI.Container();
        container.position = pos;
        container.visible = false;
        container.addChild(bg, text);
        parent.addChild(container);

        letters.push(container);
        return container;
    }

    function getColor(idx) {
        return colors[Object.keys(colors)[idx]]
    }

    const colors = {
        "Eerie black": "#151b12",
        "Ebony": "#5d5f4d",
        "Black olive": "#1d271a",
        "Black bean": "#36190e",
        "Dark green": "#182513",
        "Black olive 2": "#404138",
    }

    const print_string = "Wouter";
    let parent = app.stage;
    let pos = {x: 10, y: 100};
    for (let letter in print_string) {
        console.log(`Print ${print_string[letter]} on x(${pos.x})`)
        parent = addLetter(print_string[letter], parent, getColor(letter), {x: pos.x, y: pos.y})
        pos.x = 100
        pos.y = 0
    }

    // Display them over time, in order
    let elapsed = 0.0;
    app.ticker.add((delta) => {
        elapsed += delta / 60.0;
        if (elapsed >= letters.length) {
            elapsed = 0.0;
        }
        for (let i = 0; i < letters.length; i++) {
            letters[i].visible = elapsed >= i;
        }
    });
</script>
{% endblock %}